<h2>Operators from RxJs</h2>

<h3>Creation</h3>
<button (click)="ajax()">Ajax</button>
<button (click)="from()">From</button>
<button (click)="of()">Of</button>
<button (click)="create()">Create</button>
<button (click)="defer()">Defer</button>
<button (click)="fromEvent()">From Event</button>
<hr />

<h3>Transformation</h3>
<button (click)="buffer()">Buffer Time</button>
<button (click)="mapValue()">map</button>
<button (click)="concatMap()">concatMap</button>
<button (click)="scan()">scan</button>
<button (click)="switchMap()">switch Map</button>
<hr />

<h3>Filtering</h3>
<button (click)="auditMethod()">Aduit</button>
<button (click)="auditTimeMethod()">Aduit Time</button>
<button (click)="debounceMethod()">Debounce</button>
<button (click)="timeDebounce()">Debounce Time</button>
<button (click)="distinct()">Distinct</button>
<button (click)="distinctUntilChanged()">Distinct Change</button>
<button (click)="distinctUntilKeyChange()">Distinct Key Change</button>
<button (click)="filterMethod()">Filter</button>
<button (click)="takeMethod()">Take</button>
<button (click)="takeUntilMethod()">Take Until</button>
<button (click)="first()">First</button>
<button (click)="ignore()">Ignore</button>
<button (click)="last()">Last</button>
<button (click)="sample()">Sample</button>
<button (click)=" single()">Single</button>
<button (click)=" skip()">Skip</button>
<button (click)=" skipWhile()">Skip While</button>
<button (click)="throttle()">Throttle</button>
<button (click)="throttleTime()">Throttle Time</button>
<hr />

<h3>Error</h3>
<button (click)="errorCatch()">Error Catch</button>
