<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <button mat-stroked-button color="accent" (click)="openEdit()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
    </button>
    <button mat-menu-item>
      <button mat-stroked-button color="warn" (click)="openDelete()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </button>
  </mat-menu>
</div>
